.levelActionbar{
    display: flex;
    background: white; 
    height: 70px; 
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);    ;
}
.contentbtnAbar{
    margin: 0 20px 0 65px;
}
.btnsActionbar{
    font-family: 'GothamBold'; 
    font-size: 14px; 
    margin: 5px; 
    padding: 7px; 
    background:white;
    border: 1px solid #D2244D; 
    border-radius: 30px; 
    display: flex;
    padding: 0;
}
.iconBtnActionbar{
    background-color: #D2244D; 
    border-radius: 20px;
    width: 40px;
    height: 40px; 
    display: flex;
}
.imgBtnActionbar{
    margin-left: auto; 
    margin-right: auto; 
    width: 22px;
}
.imgBtnEditP{
    margin-left: auto; 
    margin-right: -4px; 
    width: 17px;
}
.textBtnActionbar{
    font-family: 'GothamBold'; 
    font-size: 14px;
    display: flex; 
    align-items: center; 
    margin: 0 13px;
    color:#D2244D
}
.editPr{margin: 0 60px 0 70px;}
.editPr2{display: none;}
.btnEditP, .btnEditP2{
    margin: 5px; 
    padding: 7px; 
    background:#E5E5E5; 
    border-radius: 30px; 
    display: flex; 
    padding: 8px 21px;;
}
.textBtnEditP{
    font-family: 'GothamBold'; 
    font-size: 14px;
    display: flex; 
    align-items: center; 
    margin: 0 8px; 
    color:#626262; 
    font-size: 14px;
}
.imgbtnEditP{display: flex;}

/* second actionBar */
.contentInfo{
    display: block;
    margin-left: 10px;
}
.infoActionbar{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}    
.actionbarPorcent{
    display: flex; 
    margin: -16px 60px 0 50px;
}
.actionbarAddInfo{margin: -16px 50px;}
.parrafActionbar{
    font-weight: bold; 
    font-size: 14px; 
    font-family:'GothamBold';}
.imgProgress{
    margin-top: -2px;
    margin-left: 4px; 
    position: absolute;
}
.progress{
    margin-bottom: -7px;
    display: flex;
    justify-content: center;
}

.levelright{
    display: flex; 
    position: absolute; 
    right: 40px;
    padding: 15px;
}
.item-redes{margin: 0 20px; width: 22px;}
.divActionbarbtn{margin: 0 10px;}
.progressActionbar[value]{
    -webkit-appearance: none;
    appearance: none;
    width: 570px;
    height: 20px;
}
.progressActionbar[value]::-webkit-progress-bar{
    background-color: #eee; 
    border-radius: 10px; 
    height: 15px;
}
.progressActionbar[value]::-webkit-progress-value{
    background: linear-gradient(to right, rgba(254,95,133,1) 0%, rgba(210,36,77,1) 100%);
    border-radius: 10px;
    height: 15px;
}
.btnCancelActionbar{
    font-family: 'GothamBold'; 
    font-size: 13px; 
    height: 36px;
    border-radius: 20px; 
    padding: 0 55px; 
    border: 3px solid #BDBDBD; 
    color: #595959;
}
.btnSaveActionbar{
    font-family: 'GothamBold'; 
    font-size: 13px; 
    height: 36px;
    border-radius: 20px; 
    padding: 0 29px; 
    background: #BDBDBD;
    color: #595959;
}

/* third actionBar */
.conectActionbar{
    display: flex; 
    align-items: center; 
    margin: 0 8px; 
    color:white; 
    font-size: 14px;
    font-family: 'GothamBold'; 
    font-size: 14px;
}
.paraffConnect{margin: 0 20px 0 65px;}
.itemStar{margin: 0 45px;}
.itemConnect{margin: 0 60px 0 70px;}
.itemConnect2{display: none;}
.btnConnectActionbar, .btnConnectActionbar2{
    margin: 5px; 
    padding: 7px; 
    background:#D2244D; 
    border-radius: 30px; 
    display: flex; 
    padding: 8px 21px;;
}
.starReviewsActionbar{margin-right: 5px;}
.parrafStarsActionbar{
    color: #D2244D; 
    font-family: 'GothamMedium'; 
    font-size: 14px;
}

/* quarter actionBar */
.responsiveNotify{
    display: flex; 
    justify-content: center;
}
.item2{display: none;}
.itemUnfollow{margin: 0 60px 0 12px;}
.itemUnfollow2{display: none;}
.btnnfollowActionbar, .btnnfollowActionbar2{
    margin: 5px; 
    padding: 7px; 
    background:#828282; 
    border-radius: 30px; 
    display: flex; 
    padding: 8px 21px; 
    font-family: 'GothamBold'; 
    font-size: 14px;
}
.unfollowActionbar{
    display: flex; 
    align-items: center; 
    margin: 0 8px;
    color:white; 
    font-size: 14px;
}
.contParrafStar{
    margin: 0 20px 0 65px;
}
.contStarReviews{
    margin: 0 45px;
}
.notificationActionbar{
    background: #00CF00;
     width: 15px; 
     height: 15px; 
     border-radius: 10px;
    margin-right: -8px; 
    margin-top: 24px; 
    z-index: 2; 
    color: white;
    display: flex; 
    justify-content: center; 
    font-size: 10px;
}
.messageActionbar{
    background: #D2244D; 
    width: 40px; 
    height: 40px;
    border-radius: 20px; 
    padding: 8px;
}
@media screen and (max-width:1050px){
    /* 2 */
    .actionbarPorcent{
        margin: -16px 10px 0 40px;
    }
    .actionbarAddInfo{
        margin: -16px 40px;
    }
}
@media screen and (max-width:975px){
    /* 2 */
    .actionbarPorcent{
        margin: -10px 10px 0 20px;
    }
    .actionbarAddInfo{
        margin: -10px 30px;
    }
    .progressActionbar[value]{
        width: 470px;
    }
    .btnCancelActionbar{
        font-size: 12px;
        padding: 0 38px;
    }
    .btnSaveActionbar{
        font-size: 12px;
        padding: 0 20px;
    }
}
@media screen and (max-width:950px){
    /* 3 */
    .itemConnect{margin: 0 30px 0 20px}
    .paraffConnect{margin: 0 20px 0 30px;}
}
@media screen and (max-width:950px){
    /* 2 */
    .parrafActionbar{font-size: 12px;}
}
@media screen and (max-width:855px){    
    /* 3 */
    .itemStar{margin: 0 25px;}
}
@media screen and (max-width:855px){
    .levelActionbar{
        display: block; 
        height: auto;
        padding: 5px 0;
    }
    .level-left{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .level-right{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1px;
    }
    /* 2 */
    .actionbarAddInfo{
        margin: 0 30px
    }
    .actionbarPorcent{
        margin: 0 10px 0 20px;
    }
    .progress{
        margin-bottom: 5px;
    }
    /* 4 */
    .itemUnfollow{
        margin: 0 0 0 12px
    }
}
@media screen and (max-width:673px){
    /* 1 */
    .editPr{margin: 0 10px;}
    /* 2 */    
    .progressActionbar[value]{
        width: 414px;
    }
}
@media screen and (max-width:560px){
    /* 1 */
    .iconBtnActionbar{
        width: 32px;
        height: 32px;
    }
    .editPr{display: none;}
    .editPr2{
        display: flex;
        justify-content: center;
    }
    .contentbtnAbar{
        margin: 0 20px 0 -4px;
    }
    /* 3 */
    .itemConnect{display: none;}
    .itemConnect2{
        display: flex;
        justify-content: center;
    }
    .btnConnectActionbar2{
        width: 135px;
    }
    /* 4 */
    .itemUnfollow{display: none;}
    .itemUnfollow2{
        display: flex; 
        justify-content: center;
    }
    .btnnfollowActionbar2{
        width: 150px;
    }
    .item{display:none}
    .item2{display:flex}
    .contParrafStar{
        margin: 0 4px 0 14px;
    }
    .contStarReviews{
        margin: 0 14px;
    }
}