<!-- firs actionBar -->
<div *ngIf="aBComplete" class="level levelActionbar">
    <!-- left -->
    <div class="level-left">
        <div class="level-item" style="margin: 0 20px 0 65px;">
            <a class="btnsActionbar">
                <div class="iconBtnActionbar">
                    <img class="imgBtnActionbar" src="../../../assets/iconsSVG/dinero.svg">
                </div>
                <div class="textBtnActionbar">My Wallet</div>
            </a>
        </div>
        <div class="level-item">
            <a class="btnsActionbar">
                <div class="iconBtnActionbar">
                    <img class="imgBtnActionbar" src="../../../assets/iconsSVG/Asset 4.svg">
                </div>
                <div class="textBtnActionbar">Projects</div>
            </a>
        </div>
    </div>
    <!-- right -->
    <div class="level-right">
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/facebook.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/twitter.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/spotify.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/instagram.svg"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/Asset 16.png"></a>
        </div>
        <div class="level-item" style="margin: 0 60px 0 70px;">
            <a class="btnEditP">
                <div class="imgbtnEditP">
                    <img class="imgBtnEditP" src="../../../assets/iconsSVG/editar.svg" width="16">
                </div>
                <div class="textBtnEditP">EDIT PROFILE</div>
            </a>
        </div>
    </div>
</div>

<!-- second actionBar -->
<div  *ngIf="aBEditMode" class="level levelActionbar">
    <!-- left -->
    <div>
        <div class="levelLeft">
            <div class="actionbarPorcent">
                <p class="parrafActionbar">Complete your profile: <strong style="color: #D2244D;"> 63%</strong></p>
                <div>
                    <img class="imgProgress" src="../../../assets/iconsSVG/pregunta.svg" width="14">
                </div>
            </div>
            <div class="actionbarAddInfo">
                <p class="parrafActionbar">Next:<strong style="color: #D2244D;">Add your profile description</strong>
                </p>
            </div>
        </div>
        <div class="progress">
            <progress class="progressActionbar" value="63" max="100"></progress>
        </div>
    </div>

    <!-- right -->
    <div class="levelright">
        <div class="divActionbarbtn">
            <button class="button btnCancelActionbar">CANCEL</button>
        </div>
        <div class="divActionbarbtn">
            <button class="button btnSaveActionbar">SAVE CHANGES</button>
        </div>
    </div>
</div>

<!-- third actionBar -->
<div *ngIf="aBNotConn" class="level levelActionbar">
    <div class="level-left">
        <div class="level-item" style="margin: 0 20px 0 65px;">
            <p class="parrafStarsActionbar">22 complete projects</p>
        </div>
        <div class="level-item" style="margin: 0 45px;">
            <div>
                <img class="starReviewsActionbar" src="../../../assets/iconsSVG/estrella.svg" width="20">
            </div>
            <p class="parrafStarsActionbar">14 reviews</p>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/facebook.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/twitter.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/spotify.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/instagram.svg"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/Asset 16.png"></a>
        </div>
        <div class="level-item" style="margin: 0 60px 0 70px;">
            <a class="btnConnectActionbar">
                <div class="conectActionbar">CONNECT</div>
            </a>
        </div>
    </div>
</div>

<!-- quarter actionBar -->
<div *ngIf="aBConn" class="level levelActionbar">
    <div class="level-left">
        <div class="level-item" style="margin: 0 20px 0 65px;">
            <p class="parrafStarsActionbar">22 complete projects</p>
        </div>
        <div class="level-item" style="margin: 0 45px;">
            <div>
                <img class="starReviewsActionbar" src="../../../assets/iconsSVG/estrella.svg" width="20">
            </div>
            <p class="parrafStarsActionbar">14 reviews</p>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/facebook.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/twitter.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/spotify.png"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/instagram.svg"></a>
        </div>
        <div class="level-item item-redes">
            <a href=""><img src="../../../assets/iconsSVG/Asset 16.png"></a>
        </div>
        <div class="item">
            <a href="" style="display: flex;">
                <div class="notificationActionbar"><p>1</p></div>
                <div class="messageActionbar">
                    <img src="../../../assets/iconsSVG/charlar.png" width="22">
                </div>
            </a>
        </div>
        <div class="level-item" style="margin: 0 60px 0 12px;">
            <a class="btnnfollowActionbar">
                <div class="unfollowActionbar">UNFOLLOW</div>
            </a>
        </div>
    </div>
</div>
