<div *ngIf="isAddnewaffltn" class="modal is-active">
    <div class="modal-background" (click)="closeModal(false)"></div>
    <div class="modal-content" style="width:450px">
        <div class="box">
            <h3 class="headModal">Create Item</h3>
            <div class="box bodybox">
                <form [formGroup]="formAffltn" (ngSubmit)="newAffltn($event)"  novalidate>

                    <input class="input" type="text" formControlName="isORG">
                    <label for="" class="lavels" [ngStyle]="orgStyle()">Organization Name<span class="stco">*</span></label>
                    <div class="alert" 
                    *ngIf="org.invalid && (org.touched || org.dirty)">
                        <p *ngIf="org.hasError('required')">Fiel is required</p>
                        <p *ngIf="org.hasError('minlength')">Min of 3 characters</p>
                    </div>

                    <input class="input" type="text" formControlName="isWebsite">
                    <label for="" class="lavels" [ngStyle]="webStyle()">Website<span class="stco">*</span></label>    
                    <div class="alert" 
                    *ngIf="website.invalid && (website.touched || website.dirty)">
                        <p *ngIf="website.hasError('required')">Fiel is required</p>
                        <p *ngIf="website.hasError('minlength')">Min of 5 characters</p>
                        <p *ngIf="website.hasError('pattern')">Url is invalid</p>
                    </div>
                    
                    <select class="selectElmnt" formControlName="isType">                        
                        <option *ngFor="let item of typeAffltn" [value]="item">{{item}}</option>
                    </select>
                    <label for="" class="lavelSlct" [ngStyle]="typeStyle()">Select a type<span class="stco">*</span></label>
                    <div class="alert" 
                    *ngIf="type.invalid && (type.touched || type.dirty)">
                        <p *ngIf="type.hasError('required')">Fiel is required</p>                        
                    </div>

                    <hr>
                    <div class="butons">
                        <button type="submit" class="button btnS is-danger" value="submit" 
                        [disabled]="formAffltn.invalid">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
