<!-- gradient and text -->
<section class="hero  hbodyBack">    
    <div class="hero-body">
        <div class="container contBack">
            <h1 class="tit">
                nombre de usuario
            </h1>
            <h2 class="sbtit">
                actividad
            </h2>
            <div class="container City">
                <p class="City">
                    <img src="../../../assets/iconsSVG/Asset 001.svg" alt="location" width="16">
                    ciudad, Ct
                </p>
            </div>
        </div>        
    </div>
</section>
<!-- image back user -->
<section>
    <img class="heroBackUser" [src]="ulrImg" alt="">
</section>
<div class="hero boxProfileUser">
    <img src="{{imgUser}}" class="imgUserProfile">
</div>

<div class="boxModalPaint" (click)="SlctImg()">
    <img class="slctImg" src="../../../assets/iconsSVG/lapiz-white.svg">
</div>
<!-- <div>
    <button *ngIf="iseditBanner" class="delete is-small" ></button>
</div> -->
<app-action-bar></app-action-bar>
<app-sections></app-sections>

<app-modalback [isSlctImgBck]="isSlctImgBck" [isSlctImgUser]="isSlctImgUser"></app-modalback>