/* gradient and text */
.hbodyBack{    
    background: -moz-linear-gradient(left, rgba(110,101,99,1) 0%, rgba(5,5,5,0.7) 0%, rgba(5,5,5,0.17) 46%);    
    background: -webkit-linear-gradient(left, rgba(110,101,99,1) 0%, rgba(5,5,5,0.7) 0%, rgba(5,5,5,0.17) 46%);
    background: -o-linear-gradient(left, rgba(110,101,99,1) 0%, rgba(5,5,5,0.7) 0%, rgba(5,5,5,0.17) 46%);
    background: -ms-linear-gradient(left, rgba(110,101,99,1) 0%, rgba(5,5,5,0.7) 0%, rgba(5,5,5,0.17) 46%);
    background: linear-gradient(to right, rgba(110,101,99,1) 0%, rgba(5,5,5,0.7) 0%, rgba(5,5,5,0.17) 46%);    
    height: 330px;
    z-index: 10;
}

*{font-family: Arial, Helvetica, sans-serif }
.contBack{
    position: absolute;
    top: 25%;
    left: 8%;
}
.tit{    
    font-family: 'GothamBold';
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    /* font-weight: 900; */
}
.sbtit{
    font-family: 'GothamMedium';
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    /* font-weight: 900; */
}
.City{
    font-family: 'GothamLight';
    font-size: 15px;
    text-transform: capitalize;  
    color: white;      
}
.iconChange{
    position: absolute;
    top: 326px;
}
.imgChangeUser{
    position: absolute;
    top:326px;
    right: 28px;
}
/* image back user */

.heroBackUser{
    height: 346px;
    z-index: -1;
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    clip-path: polygon(0 330px, 777px 330px, 913px 0, 0 0);
}
.boxProfileUser{
    height: 330px;
    width: 611px;       
    position: absolute;
    right: 0;
    top: 45px;
    z-index: -2;
}
.imgUserProfile{    
    width: 100%;
    height: 100%;
    background-position: right;
}
/* modal Paint */

.boxModalPaint{
    position: absolute;
    top: 328px;
    left: 16px;    
}
.boxColor1, .boxColor2, .boxColor3, .boxColor4{    
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 4px;
}
.boxColor1{background:#00d1b2;}
.boxColor2{ background:#f14668;}
.boxColor3{background:#48c774;}
.boxColor4{background:#3298dc;}

.bckColor1{background:#00d1b2;}
.bckColor2{ background:#f14668;}
.bckColor3{background:#48c774;}
.bckColor4{background:#3298dc;}
.bckImage{background: url("../../../assets/profile-demo/descarga.jfif")center / cover}


.slctImg{
    width: 28px;
    margin-top: 4px;
    margin-left: 2px;
}
.modalSlctImg{
    /* width: 229px; */
    position: absolute;
    top: 176px;
    left: 237px;
}