<div *ngIf="isAddnewgear" class="modal is-active">
    <div class="modal-background" (click)="closeModal(false)"></div>
    <div class="modal-content" style="width:450px">
        <div class="box ">
            <h3 class="headModal">Create Item</h3>
            <div class="box boxbody">
                <form [formGroup]="formGear" (ngSubmit)="newGear($event)" novalidate>

                    <input type="text" class="input" formControlName="isGear">
                    <label for="gear" class="lavels" [ngStyle]="styleGear()">Gear or Software Name <span class="stco">*</span></label>
                    <div class="alert"
                        *ngIf="gear.invalid && (gear.dirty || gear.touched)">
                        <p *ngIf="gear.hasError('required')">Fiel is required</p>
                        <p *ngIf="gear.hasError('minlength')">Min of 5 characters</p>
                    </div>


                    <input type="text" class="input" formControlName="isUrl">
                    <label for="" class="lavels" [ngStyle]="styleUrl()">URL <span class="stco">*</span></label>
                    <div class="alert"
                        *ngIf="url.invalid && (url.dirty || url.touched)">
                        <p *ngIf="url.hasError('required')">Fiel is required</p>
                        <p *ngIf="url.hasError('pattern')">Url is invalid</p>
                        <p *ngIf="url.hasError('minlength')">Min of 5 characters</p>  
                    </div>


                    <input type="text" class="input" formControlName="isManufacturer">
                    <label for="" class="lavels" [ngStyle]="styleMan()">Manufacturer <span class="stco">*</span></label>
                    <div class="alert"
                        *ngIf="manufacturer.invalid && (manufacturer.dirty || manufacturer.touched)">
                        <p *ngIf="manufacturer.hasError('required')">Fiel is required</p>
                        <p *ngIf="manufacturer.hasError('minlength')">Min of 2 characters</p>                        
                    </div>

                    <hr>
                    <div class="butons">
                        <button type="submit" value="submit" [disabled]="formGear.invalid"
                            class="button btnS is-danger">ADD</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>