.section1{
    width:98%; margin-right: 20px; border-radius: 2px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);    
}
.titles{
    font-family: 'GothamMedium';
    font-size: 14px;    
    color: #32393D;
}
.abouts, .hablities, .skills{
    margin-bottom: 20px;
}
.skills{
    margin-bottom: 10px;
}
.aboutParraf{
    font-family: 'GothamMedium' !important;
    font-size: 12px !important;
    color: #575757 !important;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
}
.show{
    overflow: visible;
    height: auto;
}
.btnShow{
   border: none;
   background: none;
   color: #4D99D3;
   font-size: 11px;
   outline:none;
}
.hablities{
    display: flex;
    align-items: center;
}
.btn{
    border: 2px solid #828282;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 30px 0 10px;
    font-family: 'GothamLight';
    font-size: 12px;
    color: #4F4F4F;
    cursor: inherit;
}
.imghblties{
    display: flex; 
    cursor: pointer;
    margin: 10px;
}

.tags{
    margin-top: 6px;
}
.tag{
    font-family: 'GothamMedium';
    font-size: 10px;
    border-radius: 20px;
    padding: 13px 20px;
    background: #E6E9EC !important;
}
.delete{
    margin-left: 6px !important;
}
.moreSkills{
    font-family: 'GothamMedium';
    font-size: 12px;
    color: #828282;
    margin-left: 5px;
    margin-top: -5px;
    cursor: pointer;
}