<div class="box section1">
    <div class="abouts">
        <div class="aboutHeader">
            <h3 class="titles">About</h3>
            <span *ngIf="!editMode" class="spanPenCard" (click)="editAbout()">
                <img class="penCard" src="../../../../assets/iconsSVG/lapiz .svg">
            </span>
            <button *ngIf="editMode" class="delete is-small" (click)="editAbout()"></button>
        </div>

        <p class="aboutParraf" [class.show]="show" (click)="openModalbio()">
            {{(show) ? text:text | slice:0:250}}
            <span *ngIf="!show">...</span>
            <button class="btnShow" (click)="show = !show">{{show ?'Show less':'Show more'}}</button>
        </p>
    </div>
    <div class="hablities">
        <h3 class="titles">Industry</h3>
        <a *ngIf="!editMode" class="btn button">
            <span>{{industrySlcted}}</span>
        </a>
        <select *ngIf="editMode" class="btn" [(ngModel)]="industrySlcted">
            <option *ngFor="let element of industries" [value]="element">{{element}}</option>
        </select>
        <h3 class="titles">Focus</h3>
        <a *ngIf="!editMode" class="btn button">
            <span>{{focusSlcted}}</span>
        </a>
        <select *ngIf="editMode" class="btn" [(ngModel)]="focusSlcted">
            <option *ngFor="let element of focucing" [value]="element">{{element}}</option>
        </select>
    </div>
    <div class="skills">
        <h3 class="titles">Skills</h3>
        <div class="tags">
            <span class="tag is-light">Ableton
                <button *ngIf="editMode" class="delete is-small"></button>
            </span>
            <span class="tag is-light">Composition
                <button *ngIf="editMode" class="delete is-small"></button>
            </span>
            <span class="tag is-light">Bass
                <button *ngIf="editMode" class="delete is-small"></button>
            </span>
            <span *ngIf="editMode" class="moreSkills" (click)="seeMoreskills()">+ Add more skills</span>
        </div>
    </div>
</div>
<app-modal-bio [isBio]="isBio"></app-modal-bio>
<app-modal-skills [isSkills]="isSkills"></app-modal-skills>