

.level{
    height: 57px;
    box-shadow: 0 0 5px 0 rgba(0, 0,0,0.7);
    background: whitesmoke;
    display: flex;
}
/* level-left */
.level-left{
    margin-left: 70px;
    display: flex;
}
.logs{
    display: flex;
    align-items: center;
}
/* .company{transition: all 0.5s } */
.control{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}
.searchInput{
    font-family: 'GothamMedium';
    font-size: 12px;    
    width: 300px;      
}

/* level rigth */
/* level right desktop */
.level-right{
    margin-right: 70px;
    margin-top: auto;
    margin-bottom: auto;
}
.right-list{
    display:flex;
}
.itemNav{
    font-family: 'GothamMedium';
    border-right: 1px solid #dbdbdb;
    font-size: 12px;    
    width: 127px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: black;
}
.itemNav:hover{
    background-color: whitesmoke;
    color: #363636;
}
.iconsNav, .iconsMenu{
    width: 15px;
    font-weight: bold;
    margin: 0 8px;
    /* font-family: 'GothamMedium'; */
}
.button{
    border:none;
    border-right: 1px solid #dbdbdb;
    border-radius: 0;  
    background: whitesmoke;  
    font-family: 'GothamMedium';
    font-size: 12px;
    height: 40px;
}
.button:focus:not(:active){
    box-shadow: none;
}
.btnProfile{
    border:none !important;
}
.perfil{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.btnArrow{
    display: flex;
}
.notify{
    background: #D2244D;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    right: 108px;
    z-index: 2;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* level right movil */
.right-icons{
    display: none;
    align-items: center;
}
.item-movil, .item-modal{
    font-family: 'GothamMedium';
    background-color: white;
    font-size: 12px;
}
.item-movil:hover, .item-modal:hover{    
    background-color: whitesmoke;
}
.itemIcons{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    /* background: #D2244D; */
    border:1px solid #D2244D;
    margin: 0 11px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnMenu{
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 20px;
    background: #D2244D; 
}

@media screen and (max-width: 1227px){
    .control{margin-left: 10px;}
    .level-left{margin-left: 20px;}
    .level-right{margin-right: 20px;}
}
@media screen and (max-width:1155px){
    .searchInput{width: 250px;}
}
@media screen and (max-width:1113px){
    .control{margin-left: 20px;}
    .right-list{display: none;}
    .right-icons{display: flex;}
}
@media screen and (max-width:634px){
    .company{display: none;}
}
@media screen and (max-width:481px){
    .control{margin-left: 10px;}
    .level-left{margin-left: 10px;}
    .level-right{margin-right: 10px;}
    .searchInput{width: 200px;}
}
@media screen and (max-width:377px){
    .searchInput{width: 165px;}
}
@media screen and (max-width:333px){
    .searchInput{width: 130px;}
}
