
.allNav{
    min-height: 2.25rem;
    background: whitesmoke;
    height: 46px;
}
.startNav{
    align-items: center;    
    margin-left: auto;
    margin-right: 0;
}
.imgdivNav, .searchdivNav{
    padding: 0 10px;
}
.navbar-link:not(.is-arrowless)::after{border-color: black;}
.searchInput{
    font-family: 'GothamBold';
    font-size: 12px;    
    width: 290px;   
}
.endNav{
    display: flex;
    margin-right: auto;
    margin-left: 0;
    align-items: center;
}
.notify{
    background: #D2244D;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    top: 13px;
    right: 139px;
    z-index: 2;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemNav{
    font-family: 'GothamBold';
    border-right: 1px solid #dbdbdb;
    font-size: 12px;
    height: 25px;
}
.itemNav:hover{
    background-color: whitesmoke;
    color: #363636;
}
.itemNavImg{
    font-family: 'GothamBold';
    font-size: 14px;
    height: 25px;
    font-size: 12px;
}
.itemUser{
    font-family: 'GothamBold';
    font-size: 12px;
}
.iconsNav{
    width: 15px;
    font-weight: bold;
    margin: 0 8px;
}
.imgNav{
    margin-right: 10px;
}
