<div>
    <div class="level">
      <div class="level-left">
        <a class="logs">
          <img src="../../../assets/log/logo1024x1024.png" width="26">
          <img class="company" src="../../../assets/log/stereotheque_logo.png">
        </a>
        <a class="control has-icons-left">
          <input class="input is-rounded is-danger searchInput" type="text" placeholder="Search">
          <span class="icon is-small is-left">
            <img src="../../../assets/iconsSVG/Asset 25.svg" style="margin-top: -9px;" alt="Search" width="17">
          </span>
        </a>
      </div>
      <div class="level-right ">
        <div class="right-list">
          <a class="itemNav">
            <img class="iconsNav" src="../../../assets/iconsSVG/home-01.svg" >
            Home
          </a>
          <a class="itemNav">
            <img class="iconsNav" src="../../../assets/iconsSVG/noun_cc.svg" >
            Opportunities
          </a>
          <a class="itemNav">
            <img class="iconsNav" src="../../../assets/iconsSVG/people-01.svg" >
            Connections
          </a>
          <div class="dropdown" [ngClass]="{'is-active': dropDownNotify}">
            <div class="dropdown-trigger">
              <div>
                <div class="notify">1</div>
              </div>
              <button class="button" (click)="drpNotify()">
                <img class="iconsNav" src="../../../assets/iconsSVG/notify-01.svg" >
                Notifications
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown is-right" [ngClass]="{ 'is-active': dropDownUser }">
            <div class="dropdown-trigger">
              <button class="button btnProfile" (click)="drpUser()">
                <img class="iconsNav perfil" src="../../../assets/profile-demo/avatar.jpg" >
                <span class="btnArrow"> user
                    <img style="margin-left: 10px;" src="../../../assets/iconsSVG/arrow-down.svg" width="10">
                </span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item"  (click)="home()">
                  <img class="iconsNav" src="../../../assets/iconsSVG/Asset 31.svg" >
                  View profile
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item" (click)="settingUser()">
                  <img class="iconsNav" src="../../../assets/iconsSVG/Asset 26.svg">
                  Settings
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item" (click)="logout()">
                  <img class="iconsNav" src="../../../assets/iconsSVG/Asset 19.svg">
                  Logout
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="right-icons">
          <a class="itemIcons">
            <!-- <img class="iconsNav" src="../../../assets/iconsSVG/notificacion.svg"> -->
            <img class="iconsNav" src="../../../assets/iconsSVG/notify-01.svg">
            <div>
              <div class="notify">1</div>
            </div>          
          </a>
          <a class="itemIcons" 
          style="background: url('../../../assets/profile-demo/avatar.jpg');background-size: 32px;">          
          </a>
          <div class="dropdown is-right" [ngClass]="{ 'is-active': dropDownMenu }">
            <div class="dropdown-trigger">
              <button class="button btnMenu" (click)="drpMenu()">
                <!-- menu -->
                <img src="../../../assets/iconsSVG/menu.svg" width="14">
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item">
                  <img class="iconsNav" src="../../../assets/iconsSVG/home-01.svg" >
                  Home
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item">
                  <img class="iconsNav" src="../../../assets/iconsSVG/noun_cc.svg" >
                  Opportunities
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item">
                  <img class="iconsNav" src="../../../assets/iconsSVG/people-01.svg" >
                  Connections
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>                  
    </div>
  </div>