.box{border-radius: 4px;}
.headModal{
    text-align: center;
    font-size: 18px;
    font-family: 'GothamMedium';
}
.input{
    /* margin-bottom: 30px; */
    margin-top:18px;
    background: transparent;
    z-index: 1;  
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.43);
    border: black;
}
.tag{
    border-radius: 20px;
    padding: 20px;
    font-size: 12px;
    font-family: 'GothamMedium';
    text-align: center;
    color: black;    
}
.tags{justify-content: center;}
.butons{
    display: flex;
    justify-content: center;
}
.btnS{
    font-family: 'GothamBold';
    font-size: 15px;
    border-radius: 20px;
    padding: 0 29px;
}
.modalUpload{
    font-size: 14px; 
    font-family: 'GothamMedium';
    outline: none;
    border: none;
}