<div *ngIf="isAddnewedu" class="modal is-active">
    <div class="modal-background" (click)="closeModal(false)"></div>
    <div class="modal-content" style="width:450px">
        <div class="box"><h3 class="headModal">Create Item</h3>
            <div class="box bodybox">
                <form>

                    <input class="input" type="text">
                    <label for="" class="lavels">Organization Name<span class="stco">*</span></label>

                    <input class="input" type="text">
                    <label for="" class="lavels">Website<span class="stco">*</span></label>    
                                    
                    <hr>
                    <div class="butons">
                        <button class="button btnS is-danger">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
