.box{border-radius: 4px;}
.modal-content{width:450px}
.butons, .labelBtnSlct{
    display: flex;
    justify-content: center;
}
.btnS{
    font-family: 'GothamBold';
    font-size: 15px;
    border-radius: 20px;
    padding: 0 29px;
}
.modalUpload{text-align: center; font-size: 16px; font-family: 'GothamLight';}
.file-label{font-family: 'GothamBold'; font-size: 12px;}
@media screen and (max-width:480px){
    .modal-content{width:358px; overflow: initial;}
}